h1{
    text-align: center;
    background: linear-gradient(to right ,#30cfD0 0%, #330867);
    background-clip: text;
    color: transparent;
}

#carrito {
    width: 100%;
    max-width: 800px; 
    margin: 20px auto; 
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Arial', sans-serif; 
}


#lista-carrito thead th {
    background-color: #f4f4f4; 
    color: #333; 
    padding: 10px;
    text-align: center; 
    font-size: 1rem;
}

#lista-carrito tbody tr {
    border-bottom: 1px solid #ddd;
}

#lista-carrito tbody tr:hover {
    background-color: #f8f8f8; 
}


#lista-carrito td {
    padding: 10px;
    text-align: center;
}


#lista-carrito td img {
    width: 50px;
    border-radius: 4px; 
}

/* Botón eliminar producto */
.borrar-producto {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.borrar-producto:hover {
    background-color: #cc0000; 
}

/* Botón de vaciar carrito */
#vaciar-carrito {
    display: block;
    width: 100%;
    background-color: #007bff; 
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#vaciar-carrito:hover {
    background-color: #0056b3; 
}